In [126]:
import pandas as pd

In [127]:
data=pd.read_csv('ititanic.csv')

In [128]:
data.columns.values

In [129]:
data.columns.to_list()

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'deck']

In [130]:
data.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck
0,0,3,male,22.0,1,0,7.2500,S,NaN
1,1,1,female,38.0,1,0,71.2833,C,C
2,1,3,female,26.0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1,0,53.1000,S,C
4,0,3,male,35.0,0,0,8.0500,S,NaN
5,0,3,male,NaN,0,0,8.4583,Q,NaN
6,0,1,male,54.0,0,0,51.8625,S,E
7,0,3,male,2.0,3,1,21.0750,S,NaN
8,1,3,female,27.0,0,2,11.1333,S,NaN
9,1,2,female,14.0,1,0,30.0708,C,NaN

In [131]:
data.tail(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck
881,0,3,male,33.0,0,0,7.8958,S,NaN
882,0,3,female,22.0,0,0,10.5167,S,NaN
883,0,2,male,28.0,0,0,10.5000,S,NaN
884,0,3,male,25.0,0,0,7.0500,S,NaN
885,0,3,female,39.0,0,5,29.1250,Q,NaN
886,0,2,male,27.0,0,0,13.0000,S,NaN
887,1,1,female,19.0,0,0,30.0000,S,B
888,0,3,female,NaN,1,2,23.4500,S,NaN
889,1,1,male,26.0,0,0,30.0000,C,C
890,0,3,male,32.0,0,0,7.7500,Q,NaN

In [132]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [133]:
data.isnull().sum()

In [134]:
data.describe()

,survived,pclass,age,sibsp,parch,fare
count,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [135]:
data[data['sex']=='male'].value_counts()

In [136]:
data[data['sex']=='female'].value_counts()

In [137]:
data.sex.value_counts()

In [138]:
len(data[data['age']>=50])

74

In [139]:
len(data[data['age']<50])

640

In [140]:
data.survived.value_counts()

In [141]:
len(data[(data['survived']==1)&(data['sex']=='male')])

109

In [142]:
len(data[(data['survived']==1)&(data['sex']=='female')])

233

In [143]:
data.columns.to_list()

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'deck']

In [144]:
data.to_csv('modified_titanic.csv',columns=
['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'fare',
 'embarked',])

In [145]:
import csv
import pandas as pd

In [146]:
with open(r"data\nba.csv") as csv_file:
 csv_reader=csv.reader(csv_file,delimiter=',')
df=pd.DataFrame([csv_reader],index=None)

FileNotFoundError: FileNotFoundError: [Errno 2] No such file or directory: 'data\\nba.csv'

In [122]:
for val in list(df[1]):
    print(val)

NameError: NameError: name 'df' is not defined